.env
.Renviron
.Rhistory
.RData
.Rproj.user/
.DS_Store
.browser/
renv/library/
renv/sandbox/
renv/staging/
data/prices/*
!data/prices/.gitkeep
data/companies.csv
data/earnings.csv
data/scraper-status.csv
data/earnings-summaries/*
!data/earnings-summaries/.gitkeep
data/news/*
!data/news/.gitkeep
data/companies/*
reports/drafts/*
!reports/drafts/.gitkeep
reports/final/*/report.html


/.quarto/
